/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #007bff, #6c63ff);
    background-image: url("inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
    background-size: cover;
    color: #333;
  }
  
header{
    color: black;
    background-color: rgb(194, 192, 192);
    text-size-adjust: 50px;
  }
  h1, h2 {
    text-align: center;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  /* Login Container */
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #ccc;
  }
  
  .login-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .login-container input, .login-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn{
    background-color: rgb(56, 128, 236);
    width: 50%;
  }
  
  .password-container {
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
  }
  
  .password-container .toggle-password {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Grid Layout for Home Pages */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  